spring:
  application:
    name: config-server

  kafka:
    bootstrap-servers: 127.0.0.1:9092

  cloud:
    bus:
      enabled: true
    config:
      server:
        git:
          uri: https://github.com/juyelhushen/digital-banking-config-repo
          username: ${GIT_USERNAME}
          password: ${GIT_PASSWORD}
          clone-on-start: true
          default-label: main


server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: refresh, health, info, busrefresh